body{
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}
.bigger-box{
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.QR-Code{
    height: 200px;
    max-width: 300px;
    border-radius: 5%;
    margin-top: 20px;
    }
.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 55vh; */
    justify-content: center;
    border-radius: 4%;
    width: 250px;
}
.para1{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    margin-bottom: 0%;
    margin-top: 4%;
}
.para2{
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    margin-bottom: 20px;
}
@media (max-width: 375px) {
    .box{
        align-items: center;
        height: 60vh;
    }
    .QR-Code{
        margin: 0%;
    }
}